# Don't export the below things when downloading with the green "Code" button
.gitattributes export-ignore

README.md export-ignore

jibaunispace.png export-ignore
areajibtrav.png export-ignore
allspace.png export-ignore
dibaspace.png export-ignore
